@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-slate-100 hover:bg-slate-200 active:opacity-50 dark:bg-slate-800 dark:hover:bg-slate-700 rounded-xl py-2 px-4 flex gap-1.5 items-center justify-center dark:text-white text-center font-medium select-none disabled:opacity-30 disabled:pointer-events-none transition-colors;
  }

  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-400 text-white disabled:bg-slate-200 disabled:text-current disabled:dark:bg-slate-800;
  }

  .btn-lg {
    @apply shadow py-3 px-5 text-xl font-semibold;
  }
}
